<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <div id = "banner">
        <a href="/">Home</a>
        <a href="/book/search">책 검색</a>
        <a href="/book/library">내 서재</a>
    </div>

    <h2>로그인</h2>

    <form action = "/member/login" method = "post">
        이메일: <input type = "text" name = "memberEmail"> <br>
        비밀번호: <input type = "password" name = "memberPassword"> <br>
        <input type = "submit" value = "로그인">
    </form>

</body>
</html>